name: portfolio deployment Harshwardhan-8010

on:
  push: 
    branches:
      - main


jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:  
    - name: checkout
      uses: actions/checkout@1
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Deploy static site to S3 bucket continue-on-error
      run: aws s3 sync . s3://github-actions-harshwardhan --delete
